body {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: block;
}

.icon {
  margin-top: 0;
}

.name, .title {
  text-align: center;
}

.name {
  font-size: 1.5em;
}

.title {
  font-size: 0.8em;
}

hr {
  border-color: #7d97ad;
}

.FirstImage {
  width: 100%;
}

.product {
  width: 100%;
}

.productImage {
  width: 90%;
  padding-left: 5%;
}

a {
  font-size: 0.6em;
}

.details {
  font-size: 10px;
}
